.bi-briefcase {
    color: rgb(255, 99, 161);
    font-size: 50px;
    padding: 30px;
    margin-left: 300px;
    background-color: rgb(253, 223, 243);
    background-size: 90px;
    border-radius: 16px;
    font-family: inherit;
  }
.number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    margin-left: 300px;
}   
.product{
  
  margin-left: 300px;
  font-size:20px;
}

.procent{
  margin-left: 300px;
  color: red;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(253, 223, 243);
    background-size: 50px;
    border-radius: 16px;
    font-family: inherit;
    width: 150px;
}

